<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

   
  </head>
  <body>
    <div class="main-block">
      <section>
        <div class="left-part" align="center">
          <!-- <i class="fas fa-graduation-cap"></i> -->
          <h1>COMPUTER SCIENCE DEPARTMENT</h1>
        </div>
      </section>
      <section>
        <p align="center">Welcome to SWE Homework 3</p>
        <div class="buttons" align="center">
            <button routerLink="/form" target="_blank">Form</button>
            <button routerLink="/display-surveys" target="_blank">Display Data</button>
        </div>
      </section>
    </div>
  
  </body>
</html>
